@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --mode_principal: #F2F3F5;
  --mode_secundario: #E4E5E9;
  --mode_navbar: #dbdddc;
  --mode_text: #000;
}

.dark-mode {
  --mode_principal: #121212;
  --mode_secundario: #151515;
  --mode_navbar: #222222;
  --mode_text: #fff;
}

.icon-github,
.icon-inbox-download,
.icon-mail-envelope-closed,
.icon-linkedin,
.icon-figma,
.icon-twitter,
.icon-youtube,
.icon-twitch {
  color: var(--mode_text);
}

* {
  margin: 0;
  padding: 0;
}

.linha {
  background: -webkit-gradient(linear, 0 0, 100% 0, from(black), to(black), color-stop(50%, #ffffff2d));
  height: 1px;
}

.destaque{
  font-weight: 700;
  margin-top: 5%;
}

html{
  scroll-behavior: smooth; 
}

body {
  background-color: var(--mode_principal);
  color: var(--mode_text);
  font-family: 'Inter', sans-serif;
}

header nav {
  height: 8vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid var(--mode_navbar);
  z-index: 4;
  position: fixed;
  background: var(--mode_principal);
}

.logo {
  width: 50px;
  height: 50px;
  display: flex;
}

header .menu {
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 50px;
    width: 40%;
}

header .menu li {
  font-weight: bold;
}

header nav #mode {
  width: 45px;
  height: 45px;
  cursor: pointer;
}

.mobile-menu {
  display: none;
  cursor: pointer;
}

.mobile-menu div {
  width: 35px;
  height: 2px;
  background-color: var(--mode_text);
  margin: 8px;
  border-radius: 30px;
}

a {
  text-decoration: none;
  color: var(--mode_text);
}

header ul li a:hover {
  padding-bottom: 25px;
  border-bottom: 2px solid #00d2df;
}

h2 {
  text-transform: uppercase;
}

/* MAIN */
/* LOADING PAGE */
.landing_page {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.introducao {
  width: 50%;
  margin-left: 7.5%;
  position: relative;
}

.texto {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.texto p {
  font-weight: 700;
  font-size: 1.5em;
}

.texto h1 {
  font-size: 3em;
  margin: 25px 0;
  color: #00d2df;
}

.botoes {
  width: 100%;
  display: flex;
}

.download_mail {
  display: flex;
  flex-direction: row;
}

.btn {
  margin-top: 5%;
  margin-right: 2%;
  height: 37px;
  width: 152px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.btn:hover {
  transform: scale(1.1);
}

.btn1 {
  background: linear-gradient(145deg, #9358f7 0%, #10d7e2 100%);
}

.btn2 {
  background: linear-gradient(145deg, #d24074 0%, #6518b4 100%);
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: lighter;
  font-size: 0.5em;
  height: 35px;
  width: 150px;
  line-height: 35px;
  border-radius: 5px;
  background-color: var(--mode_principal);
}

.icon:hover {
  background: none;
}

.icon img {
  margin-right: 5px;
}

.icon span {
  width: 30px;
}

.icon p {
  font-weight: 600;
  font-size: 1.5em !important;
}

.imagem_into {
  width: 50%;
}

.imagem_into img {
  width: 100%;
}

/* SOBRE */
.sobre {
  background-color: var(--mode_secundario);
  padding: 2% 7.5%;
  display: flex;
  flex-direction: row;
}

.foto {
  align-items: center;
  width: 50%;
  display: flex;
  margin: auto;
}

.foto img {
  background-color: var(--mode_principal);
  border-left: 5px solid #00d2df;
  width: 55%;
}

.sobre_mim {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.sobre_mim h3 {
  padding: 20px 0;
}

.sobre_mim p {
  line-height: 30px;
}

.redes {
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 25px;
}

.redes div {
  cursor: pointer;
}
/* SKILL */
.skills{
  background-color: var(--mode_principal);
  padding: 2% 7.5%;
}

.skills h2{
  text-align: center;
  padding: 0 0 40px;
}

.skills h2.study{
  padding: 2% 0 40px;
}

.skills ul{
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: center;
  align-items: center;
  gap: 50px;
  flex-wrap: wrap;
}

.skills ul li{
  width: 120px;
  height: 120px;
  background-color: var(--mode_secundario);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--mode_navbar);
  border-radius: 5px;
  padding: 5px 0;
}

.skills ul li p{
  margin: 10px 0;
}

.skills ul li img{
  margin: 5px 0;
  width: 80px;
}

/* EXPERIÊNCIA */
.experiencia {
  padding: 2% 7.5%;
  background-color: var(--mode_secundario);
}

.experiencia h2{
  padding-bottom: 2%;
}

.experiencia .conteudo {
  display: flex;
  flex-direction: row;
}

.experiencia .lista {
  width: 40%;
}

.experiencia ul {
  list-style-type: none;
}

.experiencia ul li {
  width: 50%;
  cursor: pointer;
  padding: 20px;
  margin-bottom: 5%;
}

.experiencia ul li:hover {
  background-color: var(--mode_principal);
  border-bottom: 1px solid #00d2df;
}

.tab-content {
  box-sizing: border-box;
  margin: 0 5%;
  width: 60%;
}

[data-tab-content] {
  display: none;
}

.active[data-tab-target] {
  background-color: var(--mode_principal);
  border-bottom: 1px solid #00d2df;
}

.active[data-tab-content] {
  display: block;
}

/* PROJETOS */
.projetos {
  background-color: var(--mode_principal);
  padding: 2% 7.5%;
}

.projetos .conteudo {
  display: flex;
  flex-direction: row;
  gap: 10%;
  flex-wrap: wrap;
  justify-content: space-between;
  
}

.conteudo_projeto {
  width: 25%;
  margin: 2% auto;
}

.conteudo_projeto:hover {
  transform: scale(1.2);
  transition: 0.5s;
}

.foto_apresentacao_projeto {
  margin: 5% 0; 
  height: auto;
  display: flex;
  
}

.foto_apresentacao_projeto img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-left: 10px solid #00d2df;
}

.apresentacao-projeto {
  height: 40%;
}

.apresentacao-projeto p {
  margin: 2% 0;
  font-size: 1em;
}

.tecnologias_usadas {
  color: #00d2df;
  font-weight: bold;
}

.repositorio {
  width: 25%;
  height: 60px;
  border-radius: 4px;
  border: double 2px transparent;
  background-image: linear-gradient(#121212, #121212),
    linear-gradient(90deg, rgba(210, 64, 116, 1) 0%, rgba(101, 24, 180, 1) 100%);
  background-origin: border-box;
  background-clip: content-box, border-box;

  margin-top: 20px;
}

.repositorio p {
  color: #fff;
  font-size: 18px;
}

.repositorio p::before {
  margin-right: 10%;
  content: '🔗';
}

.repositorio:hover {
  transform: translateY(-20px);
  transition: 0.5s;
}

/* FOOTER */
footer {
  background-color: var(--mode_navbar);
  padding:  1% 0%;
  text-align: center;
}

@media (max-width: 1500px) {
  .landing_page {
    width: 100%;
    height: 70vh;
    flex-direction: column;
  }

  .introducao {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    text-align: center;
    padding: 4%;
    z-index: 1;
  }

  .texto {
    padding: 0;
  }

  .botoes {
    justify-content: center;
    margin: auto;
  }

  .btn1,
  .btn2 {
    margin-top: 5%;
  }

  .imagem_into {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    position: absolute;
    margin-top: -2%;
    z-index: -4;
  }

  .imagem_into img {
    width: 80%;
  }

  .projetos {
    flex-direction: column;
  }

  .conteudo_projeto {
    width: 30%;
  }

  .foto_apresentacao_projeto {
    width: 100%;
    height: auto;
  }

  .foto_apresentacao_projeto img {
    object-fit: cover;
  }
}

@media (max-width: 1050px) {
  header nav img{
    display: block;
  }

  .landing_page {
    height: 50vh;
  }

  .imagem_into img {
    display: none;
  }

  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.5em;
  }

  p {
    font-size: 1.2em;
  }

  .sobre {
    padding: 5%;
    margin: auto;
    width: 90%;
    flex-direction: column;
    gap: 50px;
  }

  .foto,
  .sobre_mim {
    width: 100%;
  }

  .foto {
    justify-content: center;
  }

  .foto img{
    width: 50%;
  }

  .redes,
  .download_mail {
    width: 100%;
    justify-content: space-evenly;
    margin: 5% 0;
  }

  .sobre_mim p,
  .conteudo_experiencia p {
    font-size: 1em;
  }

  .experiencia .conteudo {
    flex-direction: column;
  }

  .experiencia .conteudo .lista {
    width: 100%;
  }

  .experiencia .conteudo .lista ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }

  .experiencia .conteudo ul li {
    text-align: center;
    width: calc(100% / 3);
    display: inline;
  }

  .experiencia .conteudo .tab-content {
    width: 100%;
    margin: 5% 0;
  }

  .experiencia .conteudo .tab-content h3 {
    text-align: center;
    margin-bottom: 5%;
  }
}

@media (max-width: 900px) {
  body {
    overflow-x: hidden;
  }

  .foto_apresentacao_projeto {
    height: 50%;
  }

  header img {
    display: none;
  }

 /*  header nav {
    position: absolute;
  } */

  header .menu {
    position: absolute;
    top: 6vh;
    right: 0;
    height: 90vh;
    width: 100vw;
    margin: 0;
    background-color: var(--mode_navbar);
    display: none;
    z-index: 20;
  }

  header .menu li {
    margin: 70px auto;
    opacity: 1;
    text-align:center;
  }

  header .menu li a {
    font-size: 32px;
    color: #fff;
  }

  .mobile-menu {
    display: block;
  }

  .menu.active {
    display: block;
    height: 100vh;
  }

  .conteudo_projeto{
    width: 100%;
    margin: auto;
  }

  .conteudo_projeto:hover{
    transform: scale(1);
  }
}

@media (max-width: 600px) {
  .landing_page {
    width: 96vw;
    flex-direction: column;
    align-items: center;
  }

  .introducao {
    height: 50vh;
    width: 96vw;
    margin: auto;
    text-align: center;
    position: absolute;
    align-items: center;
  }

  .botoes {
    margin: 10% 0;
  }

  .btn {
    margin: 10px auto;
  }

  .imagem_into {
    width: 50%;
  }
}
