@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
    --mode_principal: #121212;
    --mode_secundario: #151515;
    --mode_text: #fff;
} 

.light-mode{
    --mode_principal: #FFF;
    --mode_secundario: #C4C4C4;
    --mode_text: #000 ;
}

*{
    margin: 0;
    padding: 0;
    /* border: 1px solid red; */
}

body{
    background-color: var(--mode_principal);
    color: var(--mode_text);
    font-family: 'Inter', sans-serif;
}
/* 
.margem_de_seguranca{
    max-width: 85%;
    display: flex;
    margin: auto;
} */

header{
    height: 50px;
    width: 100%;
    line-height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px 0;
    background-color: var(--mode_secundario);
}

header p{
    font-size: 1.1em;
    font-weight: bold;
}

header ul{
    font-weight: 200;
    display: flex;
    list-style: none;
    margin-right: 5%;
}

header ul li{
    margin: 0 25px;
}

header img{
    width: 45px;
    cursor: pointer;
}

a{
    text-decoration: none;
    color: var(--mode_text);
}

header ul li:hover{
    transform: scale(1.05);
    font-weight: 300;
}

header ul li a:hover{
    border-bottom: 2px solid #00D2DF;
}

h2{
    text-transform: uppercase;
}

/* MAIN */
/* LOADING PAGE */
.landing_page{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 70vh;
}

.introducao{
    width: 50%;
    margin-left: 7.5%;
    position: relative;
}

.texto{
    height: 93%;
    padding-bottom: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.texto p{
    font-weight: 700;
    font-size: 1.5em;
}

.texto h1{
    font-size: 3em;
    margin: 25px 0;
    color: #00D2DF;
}

.botoes, .download_mail{
    display: flex;
    flex-direction: row;
}

.btn{
    margin-top: 5%;
    margin-left: 2%;
    height: 37px;
    width: 152px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px; 
}

.btn:hover{
    transform: scale(1.1);
}

.btn1{
    background: linear-gradient(145deg, #9358f7 0%, #10d7e2 100%);
}

.btn2{
    background: linear-gradient(145deg, #D24074 0%, #6518B4 100%);
}

.icon{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: lighter;    
    font-size: 0.5em;
    height: 35px;
    width: 150px;
    line-height: 35px;
    border-radius: 5px;
    background-color: var(--mode_principal);
}

.icon img{
    margin-right: 5px;
}

.icon span{
    width: 30px;
    height: 30px;
}

.icon p{
   /*  margin-left: 15px; */
    font-weight: 300;
    font-size: 1.5em;
}

.imagem_into{
    width: 50%;
}

.imagem_into img{
    width: 100%;
}

/* SOBRE */
.sobre{
    background-color: var(--mode_secundario);
    padding: 0 7.5%;
    display: flex;
    flex-direction: row;
}

.foto{ 
    align-items: center;
    width: 50%;
    display: flex;
    margin: auto;
    height: 67vh;
}

.foto img{
    background-color: var(--mode_principal);
    border-left: 5px solid #00D2DF;
}

.sobre_mim{
    width: 50%;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.sobre_mim h3{
    padding: 20px 0;
}

.sobre_mim p{
    line-height: 30px;
}

.redes{
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 25px;
}

.redes div{
    cursor: pointer;
}

/* EXPERIÊNCIA */
.experiencia{
    padding: 7.5%;
    background-color: var(--mode_principal);
    display: flex;
    flex-direction: row;
}

.menu_experiencia{
    width: 40%;
}

.menu_experiencia ul{
    margin-top: 60px;
    list-style: none;
    border-left: 2px solid var(--mode_secundario);
}

.menu_experiencia ul li{
    padding-bottom: 30px;
}

.menu_experiencia a{
    padding: 20px;
    color: #505050;
}

.menu_experiencia a:hover{
    border-left: 1px solid #10d7e2;
    background-color: var(--mode_secundario);
    color: var(--mode_text);
    padding: 10px 80px 10px 20px;
}

.menu_experiencia a:active{
    border-left: 1px solid #10d7e2;
    background-color: var(--mode_secundario);
    color: var(--mode_text);
}

.conteudo_experiencia{
    display: flex;
    flex-direction: column;
}

.descricao{
    margin: auto;
    width: 80%;
    padding-bottom: 50px;
    border-bottom: 2px solid var(--mode_secundario);
}

.cargo_data{
    display: flex;
    gap: 200px;
    justify-content: space-between;
    height: 80px;
    line-height: 80px;
}

.descricao_trabalho{
    display: flex;
    flex-direction: column;
}

#amazon{
    display: block;
}

#google, #agency{
    display: none;
}


/* PROJETOS */
.projetos{
    background-color: #151515;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 7.5%;
}

.conteudo_projeto{
    width: 50%;
    height: 700px;
}

.conteudo_projeto:hover{
    transform: translateY(-20px);
    transition: 0.5s;
}

.foto_apresentacao_projeto{
    margin: 5% 0;
    width: 100%;
    height: 60%;
    display: flex;
    background-image: url("img/projetos/130633362-dcddc894-fbbc-455b-8c78-bbefc8e7822c.png");
    background-size: 100%;
    background-repeat: no-repeat;
    border-left: 10px solid #00D2DF;
}

.apresentacao-projeto{
    height: 40%;
}

.apresentacao-projeto p{
    margin: 2% 0;
}

.tecnologias_usadas{
    color:#00D2DF;
    font-weight: 500;
}

.repositorio{
    width: 25%;
    height: 60px;
    border-radius: 4px;
    border: double 2px transparent;
    background-image: linear-gradient(#121212, #121212), linear-gradient(90deg, rgba(210,64,116,1) 0%, rgba(101,24,180,1) 100%);
    background-origin: border-box;
    background-clip: content-box, border-box;

    margin-top: 20px;
}

.repositorio p{
    color: #fff;
    font-size: 18px;
}

.repositorio p::before{
    margin-right: 10%;
    content: "🔗";
}

.repositorio:hover{
    transform: translateY(-20px);
    transition: 0.5s;
}





@media (max-width:1500px){
    .landing_page{
        width: 100%;
        height: 70vh;
        flex-direction: column;
    }

    .introducao{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
        text-align: center;
        background: linear-gradient(90deg, #d138eb68 0%, #00d4ff68 100%);
        padding: 4%;
        z-index: 1;
    }

    .texto{
        padding: 0;
    }

    .botoes{
        justify-content: center;
        margin: auto;
    }

    .btn1, .btn2{
        margin-top: 5%;
    }

    .imagem_into{
        display: flex;
        width: 100%;
        justify-content: flex-end;
        /* align-items: center; */
        position: absolute;
    }

    .imagem_into img{
        width: 80%;
    }

    .projetos{
        flex-direction: column;
    }

    .conteudo_projeto{
        width: 100%;
    }

    .foto_apresentacao_projeto{
        width: 100%;
    }

}

@media (max-width: 1050px){
    .landing_page{
        height: 50vh;
    }

    .introducao{
        background: none;
    }

    .imagem_into img{
        display: none;
    }
    
    h1{
        font-size: 2em;
    }

    h2{
        font-size: 1.5em;
    }
    
    p{
        font-size: 1.2em;
    }

    .sobre{
        padding: 5%;
        margin: auto;
        height: 95vh;
        width: 90%;
        flex-direction: column;
        gap: 50px;
    }

    .foto, .sobre_mim{
        width: 100%;
    }

    .foto{
        justify-content: center;
    }
    
    .redes, .download_mail{
        width: 100%;
        justify-content: space-evenly;
    }

    .sobre_mim p, .conteudo_experiencia p{
        font-size: 1em;
    }

}

@media (max-width:900px){
    .foto_apresentacao_projeto{
        height: 50%;
    }
}

/* @media (max-width:600px){

    main{
        width: 100%;
    }

    .landing_page{
        width: 96vw;
        flex-direction: column;
        margin: 20px auto 0;
        align-items: center;
    }

    .introducao{
        height: 50vh;
        width: 96vw;
        margin: auto;
        text-align: center;
        position: absolute;
        align-items: center;
    }

    .botoes{
        padding-top: 20px;
    }

    .btn{
        margin: 10px auto;
    }

    .imagem_into{
        width: 50%;
    }

} */